#login {
    text-align: center;
    position: fixed;
    left: 50px;
    top: 10px;

}


#reimbursements-tbl{
    position: fixed;
    margin:0;
    text-align: center;
    right: 20%;
    left: 20%;
    top:13%;
    bottom: 13%;
    border: 2px #fccc00;
    background-color: #f1f1f1;

    

}
td,tr{
    font-size: 16px;

}

.gus-quote{
    background-color: rgb(86, 171, 197);
    padding: 15px;
    position: fixed;
    margin:0;
    text-align: center;
    bottom: 25%;
    left: 35%;
    color: red;
    font-family: lucida handwriting,cursive;
    font-size: 30px;
    

}

.lph-image{
    position: fixed;
    margin:0;
    text-align: center;
    top: 3%;

}

.gus-image{
    position: fixed;
    margin:0;
    text-align: center;
    bottom: 5%;
    left: 20%;

}

.heading1{
    position: fixed;
    margin:0;
    text-align: center;
    top: 10px;
    left:43%;




}

body {
    margin: 0;
    padding: 0;
    background: #fccc00;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.main {
    height: 400px;
    padding: 10px;
}

#logout-btn{
    position: fixed;
    margin:0;
    text-align: center;
    right: 1%;
    top:13%;
    
    background-color: #0979ad;
    color: black;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 200px;
    font-family: montserrat;
    border: 1px solid black;
}

#hide-btn{
    position: fixed;
    margin:0;
    text-align: center;
    
    background-color: #0979ad;
    color: black;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 200px;
    font-family: montserrat;
    border: 1px solid black;
    bottom:10%
    

}

#judgeReimb-btn
{
    max-width:100%;
    position: fixed;
    margin:0;
    text-align: center;
    left: 1%;
    top: 25%;
    
    background-color: #0979ad;
    color: black;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 200px;
    font-family: montserrat;
    border: 1px solid black;
}

.dropdown_button {
    position: fixed;
    margin:0;
    text-align: center;
    left: 1%;
    top: 13%;
    
    background-color: #0979ad;
    color: black;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 200px;
    font-family: montserrat;
    border: 1px solid black;
}

.courses {
    position: fixed;
    margin:0;
    text-align: center;
    font-weight: bold;
    left: 1%;
    top: 13%;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(243, 5, 5, 0.2);
    z-index: 1;
}

.courses li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    list-style: none;
    background-color: #0979ad;
    font-family: montserrat;
    border: 1px solid white;
}

.courses li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

.courses li:hover {
    background-color: #0979ad;
    color: #fccc00;
}

.form-input {
    margin-top: 20px;
    margin-bottom: 20px;
}